@font-face {
    font-family: 'CalleoTrial';
    font-weight: 200;
    src: url('../assets/fonts/Calleo-Trial/Calleo-Trial-ExtraLight-BF64af57cf23c70.woff') format('woff');
  }
  
  @font-face {
    font-family: 'CalleoTrial';
    font-weight: 400;
    src: url('../assets/fonts/Calleo-Trial/Calleo-Trial-Regular-BF64af57cf2e838.woff') format('woff');
  }
  
  @font-face {
    font-family: 'CalleoTrial';
    font-weight: 500;
    src: url('../assets/fonts/Calleo-Trial/Calleo-Trial-SemiBold-BF64af57cf07662.woff') format('woff');
  }
  
  @font-face {
    font-family: 'CalleoTrial';
    font-weight: 700;
    src: url('../assets/fonts/Calleo-Trial/Calleo-Trial-Bold-BF64af57cf0057d.woff') format('woff');
  }
  
  @font-face {
    font-family: 'CalleoTrial';
    font-weight: 700;
    src: url('../assets/fonts/Calleo-Trial/Calleo-Trial-Bold-BF64af57cf0057d.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    src: url('../assets/fonts/Gilroy-Medium.woff') format('woff');
  }
  
  body {
    font-family: "CalleoTrial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    word-wrap: break-word;
    background-color: #242424;
    color: white;
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #282828;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a:hover {
    color: #53f2c5;
  }
  
  button:hover {
    border-color: #64ffd6;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }